* {

    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.logo {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 140px 0;
}

input {
    width: 300px;
    padding: 10px 50px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: url(googlemic_color_24dp.png) no-repeat,
        url(../Google/Img/Search.svg) no-repeat;
    background-size: 23px 20px;
    background-position: right 15px center, left 15px center;

}

input:focus {
    box-shadow: 2px 3px 4px 2px #ccc;
    outline: none;
}

.input-search {
    padding-top: 20px;
}

.btn-search {}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    color: #5f6368;
    margin-right: 10px;
    margin: 10px;
}

.btn:focus {
    outline: none;
}

div.lang {
    margin: 20px;
}

ol.lang {
    list-style: none;
}

ol.lang li {
    display: inline;
    margin-right: 8px;
    font-size: 10px;
}

ol.lang li a {
    text-decoration: none;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ol li {
    display: inline;
    padding-right: 30px;
    color: #676767;
    font-size: 10px;

}